{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio de sesion{% endblock %}

{% block content %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            </div>
            
            </div>
        </div>
    </div>
</header>

<div class="login-box">
    <img src="{% static 'core/assets/img/logo1.png' %}" class="avatar" alt="Avatar Image">
    <h1>Iniciar Sesión</h1>
    <form action="" method="POST"> {%csrf_token%}
       
        {{form.as_p}}
    
    <!-- USERNAME INPUT -->
       
        <input type="submit" value="Acceder" class="btn-primary">
        <a href="{% url 'registro' %}">Registrarse</a>
    </form>
</div>

{% endblock %}


