{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios List{% endblock %}

{% block content %}


<!-- Header-->    
<header class="nosotros" style="background-image: url({% static 'core/assets/img/about-bg.jpeg' %})">
</header>
<section class="page-section" id="valores">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Servicios</h2>
        <hr class="divider" />
    </div>

<!-- Cartas-->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center form-px my-5">

            {% for servicios in object_list %}

            <div class="col mb-5 card-ancho ">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{servicios.foto}}" alt="{{servicios.nombre}}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <li>
                                <p>nombre: {{ servicios.titulo }} </p>
                                <p>contenido: {{ servicios.contenido }} </p>
                                <p>{{ servicios.imagen }} </p>
                                <p> 
                                    <a href="{% url 'Detail' servicios.id %}">Ver</a> | 
                                    <a href="{% url 'Edit' servicios.id %}">Editar</a> | 
                                    <a href="{% url 'Delete' servicios.id %}">Borrar</a> 
                
                                </p> 
                            </li>
                        </div>
                    </div>   
                </div>
            </div>

            {% endfor %}

            <a href="{% url 'New'  %}">Nuevo</a> 

        </div>
    </div>
</section>


{% endblock %}
