{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<!-- Header-->    
<header class="nosotros" style="background-image: url({% static 'core/assets/img/about-bg.jpeg' %})">
</header>
<section class="page-section" id="valores">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Agregar servicios</h2>
        <hr class="divider" />
    </div>

<!-- formulario--> 
<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
    <div class="col-lg-6">

        <form class="" method="post">
            {% csrf_token %}

            {{form.as_p}}
            
            <input type="submit" value="enviar">
        </form>



{% endblock %}